---
---

// https://github.com/BDHU/minimalist/blob/main/_sass/colors.scss

:root {
	--clr-bg: #111; // Background
	--clr-text: rgb(245, 245, 247); // Text
	--clr-a-text: rgb(212, 212, 212); // Link
	--clr-a-text-hvr: rgb(41, 151, 255); // Link - Hover
}

@import "{{ site.theme }}";