---
---

// https://github.com/BDHU/minimalist/blob/main/_sass/colors.scss

:root {
	--clr-bg: #242E38; // Background
	--clr-text: #FCFBFC; // Text
	--clr-a-text: rgb(126, 160, 196); // Link
	--clr-a-text-hvr: rgb(41, 151, 255); // Link - Hover
}

@import "{{ site.theme }}";